@{
    var StatusMessage= TempData["StatusMessage"] as string;
}

@if (!String.IsNullOrEmpty(StatusMessage))
{
    var statusMessageClass = StatusMessage.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-dismiss="alert"></button>
        @StatusMessage
    </div>
}
